.live-call_placeholder {
  font-size: 28px;
  padding-bottom: 20px;
  color: #4a4a4a;
}

.live-call_area {
  font-size: 28px;
  height: 0;
  background-color: #fff;
  margin-bottom: 20px;
  padding: 10px;
  overflow-y: scroll;
  animation: expand 1s ease forwards;

  .live-call_from {
    color: #054666;
    font-weight: 600;
    padding-left: 20px;
  }
}

@keyframes expand {
  to {
    height: 300px;
  }
}
