* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

h1 {
  margin-bottom: 20px;
  font-size: 28px;
}
.layout {
  display: flex;
  flex-direction: row;
}

aside {
  width: 250px;
  position: fixed;
  height: calc(100vh - 60px); // Adjust height to account for fixed header
  top: 60px; // Adjust for fixed header height
}

main {
  width: 100%;
  background: #eff1f6;
  padding: 20px;
  margin-left: 250px;
  margin-top: 60px; // Adjust for fixed header height
  min-height: calc(100vh - 60px); // Adjust for fixed header height
}

.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
  text-align: center;

  .loading-gif {
    animation: rotating 2s linear infinite;
    -webkit-animation: rotating 2s linear infinite; /* Safari and older browsers */
  }

  @keyframes rotating {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

  p {
    margin: 20px 0;
    font-size: 18px;
    color: #333;
  }

  a {
    color: #0070f3;
    text-decoration: none;
    font-size: 18px;

    &:hover {
      text-decoration: underline;
    }
  }

  img {
    margin-bottom: 20px;
  }
}
