* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.layout {
  display: flex;
  flex-direction: row;
}

aside {
  width: 250px;
  position: fixed;
  height: 100vh;
}

main {
  width: 100%;
  background: #eff1f6;
  padding: 20px;
  margin-left: 250px;
  min-height: 100vh;
}
